$wizard_background: #fff;
$heading_font: 'inherit';
$body_font: 'sans serif';

$scheme_color_1: #5F85BF;
$scheme_color_2: darken( #ADADA9, 10% );
$scheme_color_3: #20294C;
$scheme_color_4: #4C5268;
$scheme_color_5: #5F6FBF;
$scheme_color_green: lighten( #7c7, 10% );
$scheme_color_red: #c77;
$scheme_color_icon: #ADADA9;

$wizard_active_menu: $scheme_color_1;
$wizard_active_bottom_border: $scheme_color_2;
$wizard_complete_menu: #555;
$wizard_incomplete_menu: #aaa;

$wizard_primary_heading: $scheme_color_1;
$wizard_secondary_heading: $scheme_color_2;

$dashboard_bg_color: darken( $scheme_color_4, 20% );
$dashboard_bg_opacity: 0.9;

section.elevate {
	h1, h2, h3, h4, h5 {
		font-family: $heading_font;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	font-family: $body_font;
	font-size: 13pt;
	letter-spacing: 0px;
	font-weight: 300;

	 .content {
		font-size: 16pt;
	}

	form {
		margin-top: 0px;
		text-align: center;
	}

	.header {
		margin-bottom: 0px;
	}

	h2 {
		font-size: 23px;
		margin-left: 5px;
		margin-right: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 3px;
		font-family: sans-serif;
		font-weight: 400;
		float: left;
	}

	h2 em {
		font-style: normal;
	}

	p {
		font-size: 16pt;
		margin-top: 10px;
		color: #555;
		max-width: 80%;
		margin: 20px auto 0px auto;
		line-height: 1.45;
		/*
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;	
		*/
	}

	.online {
		width: 31%;
		margin: auto;
		display: inline-table;
		margin: 5px;
		text-align: center;
	}

	.online input[type=text] {
		width: 90%;
	}

	.about {
		color: #999;
		font-size: 10.5pt;
		float: right;
		margin-top: 22px;
		font-weight: normal;
		font-family: sans-serif;

		a {
			color: darken( #0073aa, 30% );
			text-decoration: underline;
		}
	}	
}

.ajax-spinner {
	width: 32px;
	height: auto;
	vertical-align: middle;
	margin-right: 5px;
}

$color_flat_speed: #e1b12c;
$color_flat_plugin: #8c7ae6;
$color_flat_sitemap: #40739e;
$color_flat_search: #e84118;
$color_flat_google: #718093;
$color_flat_titles: #0097e6;
$color_flat_balls: #2f3542;
$color_flat_percentage: 7%;
$color_wp_bg: #f1f1f1;
$color_back_opacity: 0.8;

.elevate #dashboard {
	width: 100%;

	.spin {
		width: 20px;
		height: 20px;
		opacity: 0.5;
	}

	.big-data {
		h2 {
			width: 100%;
			display: block;
			margin: 0px!important;
			padding-top: 10px!important;
			padding-left: 10px!important;
			font-weight: 400;
			font-size: 20px;
			padding: 0px;
			color: white;
			box-sizing: border-box;
			text-transform: none;
			letter-spacing: -0.5px;
			float: none;
		}

		h3 {
			font-family: sans-serif;
			margin: 0px;
			padding-left: 10px!important;
			font-weight: 500;
			font-size: 15px;
			margin-top: 2px!important;
			color: #eee;
			display: block;
			line-height: 1;
		}

		.top-grid {
			display: grid;
			grid-column-gap: 20px;
			grid-row-gap: 20px;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			margin-right: 2%;
			margin-left: 2%;

			.item {
				background: rgba( $dashboard_bg_color, $dashboard_bg_opacity);
				color: #ccc;
				font-size: 24px;
				position: relative;

				h2 {
					a {
						color: #777;
					}

					a:hover {
						color: #ccc;
					}

					i {
						display: inline-block;
						font-size: 20px;
						line-height: 20px;
						margin-left: 5px;
						vertical-align: middle;
						position: relative;
						top: -2px;
					}
				}

				canvas {
					margin-top: 20px;
					width: 1200px;
					height: 400px;
				}

				.spin {
					position: absolute;
					top: 0px;
					right: 0px;
					width: 24px;
					height: 24px;
					padding: 10px;
					opacity: 0.5;
				}

				div {
					padding: 10px;
					display: inline-block;
					box-sizing: border-box;
					margin-top: 10px;

					h4 {
						margin: 0px;
						padding: 0px;
						font-family: sans-serif;
						font-weight: 600;
						color: lighten( $scheme_color_1, 25% );
						font-size: 14px;
						text-transform: uppercase;
						letter-spacing: -0.5px;
					}

					span {
						display: inline-block;
						color: white;
						font-family: sans-serif;
						font-size: 24px;
						margin-bottom: 2px;
					}
				}	

				.graph {
					min-height: 300px;
					overflow: hidden;
				}			
			}

			.item-1 {
				grid-column: 1 / 3;
			}

			.item-2 {
				grid-column: 3 / 9;
			}

			.item-3 {
				grid-column: 9 / 11;
			}

			.item.speed {
				grid-column: 1 / 6;
			}

			.item.search-stats {
				grid-column: 6 / 11;
			}

			.item.crawl {
				grid-column: 1 / 6;
			}		

			.item.visits {
				grid-column: 6 / 11;
			}		

			.item-1,
			.item-2,
			.item-3 {
				display: grid;
				grid-column-gap: 5px;
				grid-row-gap: 5px;
				grid-template-columns: 1fr 1fr;		

				div {
					text-align: center;

					i {
						padding-bottom: 10px;
						opacity: 0.3;
						margin-top: -10px;
					}

					i.fa-chevron-down {
						color: #f77;
					}

					i.fa-chevron-up {
						color: #7f7;
					}
				}

				div.col-1 {
					grid-column: 1 / 2;
				}	

				div.col-2 {
					grid-column: 2 / 3;
				}	

				div.col-3 {
					grid-column: 3 / 4;
				}	

				div.col-4 {
					grid-column: 4 / 5;
				}		

				div.col-5 {
					grid-column: 5 / 6;
				}				
			}	

			.item-2 {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;	
			}
		}
	}

	.hero {
		text-align: center;
		margin-bottom: 40px;
		padding-top: 20px;
	
		li {
			width: 130px;
			display: inline-table;
			background: rgba( $color_flat_balls, 0.7 );
			height: 130px;
			vertical-align: top;
			box-sizing: border-box;
			border-radius: 65px;
			margin: 0px 20px;
			position: relative;

			a {
				text-decoration: none;
			}

			.spin {
				width: 36px;
				height: 36px;
			}

			.num {
				font-size: 35pt;
				display: block;
				color: white;
				margin-top: 26px;
				line-height: 35pt;
				font-weight: bold;
				font-family: sans-serif;
			}

			.what {
				font-size: 11pt;
				box-sizing: content-box;
				color: white;
				margin-top: 0px;
				font-family: sans-serif;
				font-weight: 500;
			}

			span {
				display: inline-block;
			}
		}

		li.disabled {
			opacity: 0.5;	

			i {
				font-weight: normal;
				font-size: 22pt;
				position: relative;
				top: -6px;
			}	
		}

		li:hover {
			cursor: pointer;
		}

		ul {
			margin-bottom: 30px;
		}
	}

	.flex {
		text-align: center;

		ul {
			height: 70px;
		}

		li i {
			border: none!important;
			background: transparent;
			color: white;
			font-size: 30pt;
			opacity: 0.7;
			vertical-align: center;
			margin-top: 0px;
		}

		li.req {
			color: white;
			font-size: 10.5pt;
			font-family: sans-serif;
		}

		.disabled {
			opacity: 0.7;
		}
	}

	.plugin-info {
		background: rgba( $dashboard_bg_color, $dashboard_bg_opacity );

		i {
			background: lighten( $scheme_color_1, $color_flat_percentage );
			border: 2px solid $color_wp_bg;
		}


		a {
			color: white;
			text-decoration: underline;
		}		
	}

	.sitemap-info {
		background: rgba( $dashboard_bg_color, $dashboard_bg_opacity);

		i {
			background: lighten( $scheme_color_1, $dashboard_bg_opacity  );
			border: 2px solid $color_wp_bg;
		}
	}

	.google-info {
		background: rgba( $dashboard_bg_color, $dashboard_bg_opacity);

		i {
			background: lighten( $scheme_color_1, $dashboard_bg_opacity  );
			border: 2px solid $color_wp_bg;
		}
	}

	.speed-info {
		background: rgba( $color_flat_speed, $dashboard_bg_opacity );

		i {
			background: lighten( $scheme_color_3, $dashboard_bg_opacity );
			border: 2px solid $color_wp_bg;
		}
	}	

	.crawl-info {
		background: rgba( $dashboard_bg_color, $dashboard_bg_opacity);

		i {
			background: lighten( $scheme_color_4, $dashboard_bg_opacity );
			border: 2px solid $color_wp_bg;
		}
	}		


	.search-info {
		background: rgba( $dashboard_bg_color, $dashboard_bg_opacity );

		i {
			background: lighten( $scheme_color_5, $dashboard_bg_opacity );
			border: 2px solid $color_wp_bg;
		}		
	}

	.info.google-info {
		grid-column: 1 / 4;
	}

	.info.plugin-info {
		grid-column: 4 / 8;
	}	

	.info.sitemap-info {
		grid-column: 8 / 11;
	}	

	.info.plugin-info,
	.info.google-info,
	.info.sitemap-info  {
		margin-top: 30px;
		padding: 10px;
		min-height: 100px;
		display: inline-block;
		box-sizing: border-box;
		vertical-align: top;
		text-align: center;

		.wrap {
			text-align: center;
			display: block;
			width: 100%;
			position: relative;
			box-sizing: border-box;

			i {
				font-size: 17pt;
				position: absolute;
				top: -40px;
				left: 50%;
				margin-left: -25px;
				text-align: center;
				padding: 10px;
				width: 50px;
				height: 50px;
				border-radius: 25px;
				vertical-align: middle;
				box-sizing: border-box;
				color: white;
				display: inline-table;
			}

		}

		h4 {
			font-size: 12pt;
			margin-bottom: 15px;
			color: white;
			margin-left: -10px;
			margin-right: -10px;
			padding: 5px 10px;
			display: block;
			margin-top: 30px;
			font-family: sans-serif;
			font-weight: 600;
		}

		h5 {
			margin-bottom: 10px;
			font-size: 11pt;
			font-weight: normal;
			color: black;
			text-decoration: underline;
		}

		ul {
			margin-bottom: 15px;
			margin-left: 10px;
		}

		li {
			font-size: 11pt;
			margin-bottom: 0px;
			margin-top: 5px;
		}

		em {
			display: inline-block;
			margin-right: 5px;
			color: #eee;
			font-style: normal;
			font-family: sans-serif;
			font-weight: 500;
		}

		span {
			color: #fff;
			font-family: sans-serif;
		}
	}

	div.first {
		margin-left: 0px;
	}

	div.second {
		margin-right: 0px;
		float: right;
	}

	.no-data {
		text-align: center;
		padding-top: 40vh;

		.container {
			display: block;

			width: 50%;
			margin-left: auto;
			margin-right: auto;
			border-radius: 10px;
		}

		img {
			width: 50px;
			opacity: 0.7;
		}

		p {
			margin-top: 5px;
			color: $color_flat_titles;
			line-height: 1.1;
			font-size: 20pt;
			font-weight: bold;
			opacity: 0.7;
		}
	}
}

.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.03); }

.toplevel_page_elevate_dashboard,
.toplevel_page_elevate_plugin {
	#wpcontent {
		background: linear-gradient( rgba( 0, 0, 0, 0.2 ), rgba( 0, 0, 0, 0.4 ) ), url( ../images/mountains.jpg );
		background-size: cover;
		background-attachment: fixed;
		background-position: top left;

		.header {
			border-bottom: none;
			padding-right: 10px;
			padding-left: 10px;
			padding-bottom: 10px;
			font-weight: bold;

			h2 {
				margin-top: 10px;
				font-size: 23px;
				padding: 10px;
			}

			h2,
			.about {
				color: #fff;
			}

			.about {
				margin-top: 15px;
			}

			.about a {
				text-decoration: underline;
			}
		}
	}

	#footer-thankyou {
	}

	#wpfooter {
		color: white!important;
	}	

	#wpcontent {
		padding-left: 0px;
	}

	#wpbody {
		padding-right: 0px;
	}
}

@import '_wizard';
@import '_settings';
@import '_tooltip';
@import '../../lib/opentip/css/opentip';
@import '../../lib/fa/css/font-awesome';
@import '../../lib/confirm/jquery-confirm';
