.elevate-title-meta {
	label {
		display: inline-block;
		margin-top: 10px;
		font-size: 11pt;
		margin-bottom: 2px;
	}

	textarea,
	input[type=text] {
		font-size: 11pt;
		padding: 5px;
		width: 100%;
		color: #555;
	}

	textarea::placeholder,
	input[type=text]::placeholder {
		color: #bbb;
	}

	textarea {
		height: 80px;
	}

	h4 {
		margin-top: 10px;
	}

	.search-preview {
		margin-bottom: 5px;
	}

	p {
		margin-top: 10px;
	}

	a.button {
		margin-top: 15px;
	}

	.tooltip {
		position: relative;
		top: 2px;
	}

	.language,
	.robots {
		margin-top: 8px;
		vertical-align: middle;

		select {
			
		}
	}
}

#learn_more {
	display: none;

	i {
		opacity: 0.5;
	}
}

#social_preview,
#learn_more {
	background: rgba( 255, 255, 255, 1 );
	text-align: center;
	margin: auto;
	padding: 20px;
	width: 620px;
	height: 450px;
	position: relative;

	p {
		margin-top: 0px;
		border-bottom: 1px solid #eee;
		padding-bottom: 15px;
		margin-bottom: 20px;
		vertical-align: middle;
	}

	li {
		i:hover {
			cursor: pointer;
		}

		i.fa-google.active {
			color: #4285f4;
		}

		i.fa-facebook-f.active {
			color: #3b5998;
		}

		i.fa-twitter.active {
			color: #1DA1F2;
		}		

		i.fa-linkedin.active {
			color: #0077B5;
		}
	}

	h2 {
		float: left;
		padding-right: 10px;
		margin-right: 10px;
		border-right: 1px solid #eee;
		font-weight: 400;
		font-size: 16pt;
		margin-top: 0px;
		padding-bottom: 3px;
		margin-bottom: 10px;
	}

	button {
		display: block;
		margin: auto;
		margin-top: 13px;
		padding: 5px 10px;
	}


	ul {
		float: left;
		margin-top: 0px;
		margin-bottom: 10px;
	}

	li {
		display: inline-block;
		padding: 0px 3px;

		i {
			font-size: 18pt;
			min-width: 18px;
			color: #aaa;
		}
	}

	.clear {
		clear: both;
	}

	.lm-wrap,
	.previews {
		text-align: center;

		.wrapper {
			margin: auto;
			text-align: left;
			max-width: 600px;
		}

		p {
			margin-top: 10px;
		}
	}

	.lm-wrap {
		ul {
			margin-top: 10px;
		}

		li {
			font-size: 11pt;
			line-height: 1.3;

			i.fa {
				display: block;
				vertical-align: top;
				float: left;
				margin-right: 10px;
				font-size: 20pt;	
				text-align: center;		
				width: 25px;	
			}

			i.fa-check {
				color: green!important;
			}

			i.fa-warning {
				color: orange!important;

			}

			i.fa-exclamation {
				color: red!important;
			}
		}
	}

	.google-desc {
		max-width: 600px;
	}

	.twitter-preview {
		position: relative;

		.wrapper {
			text-align: center;
			margin-top: 10px;
		}

		img {
			width: 125px;
			height: 125px;
			object-fit: cover;
			display: inline-block;
			margin-right: 10px;
		}

		.twitter-title {
			max-height: 1.3em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 14px;
			margin: 0 0 0;	
			font-weight: bold;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			line-height: 1.3em;
			color: black;
			max-width: 315px;
			margin-bottom: 6px;
		}

		.twitter-desc {
			max-height: 3.9em;
			overflow: hidden;
			margin-top: .32333em;
			margin: 0px;
			font-size: 14px;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			line-height: 1.3em;
			-webkit-font-smoothing: antialiased;
			color: black;
			max-width: 315px;
		}

		.site_name {
			color: #90949c;
		    font-size: 14px;
		    line-height: 11px;
		    margin-top: 10px;
		}		

		.twitter-wrap {
			display: inline-block;
			text-align: left;
			vertical-align: top;
		}

	}

	.twitter-preview.large {
		img {
			width: 438px;
			height: 220px;
			display: inline-block;
		}

		.twitter-wrap {
			float: none;
			position: relative;
		}

		.twitter-desc {
			max-width: 438px;
		}

		.twitter-tittle {
			max-width: 438px;
		}

		.site_name {
			color: #90949c;
		    font-size: 14px;
		    line-height: 11px;
		    position: inherit;
		    top: inherit;
		    left: inherit;
		    margin-left: 0px;
		    margin-top: 20px;
		}				
	}

	.facebook-preview {
		background: white;
		height: 158px;

		.wrapper {
			width: 524px;
		}

		.fb-wrap {
			padding-left: 12px;
			padding-right: 12px;
			box-sizing: content-box;
			margin-top: -4px;
			background: #f2f3f5;
			padding-top: 4px;
			padding-bottom: 4px;
			border: 1px solid #dadde1;
		}

		img {
			width: 100%;
			height: 274px;
			object-fit: cover;
		}

		.facebook-title {
			color: #1d2129;
			font-weight: 600;
			font-family: Helvetica;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 12px;
		}

		.site_name {
			color: #90949c;
		    font-size: 11px;
		    line-height: 11px;
		    margin-top: 12px;
		    margin-bottom: 12px;
		    text-transform: uppercase;
		    color: #606770;
		    font-size: 12px;		    
		}

		.lm-wrap {
			display: block;
		}
	}

	.learn_more_close,
	.social_preview_close {
		position: absolute;
		top: 0px;
		right: 20px;
	}

	.linkedin-preview {
		.wrapper {
			width: 520px;
			height: 330px;	
		}
		

		img {
			width: 518px;
			height: 270px;
			object-fit: cover;
			margin-bottom: 0px!important;
			line-height: inherit;
		}

		.title {
			max-height: 72px;
			font-weight: 600;
			font-style: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
			font-size: 14px;
		    line-height: 20px;
		    color: rgba(0,0,0,.9);
		    margin-left: 12px;
		    margin-right: 12px;
		    margin-top: 0px;
		}

		.site_name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-top: 4px;
			margin-right: 12px;
			margin-left: 12px;
			color: rgba(0,0,0,.6);
			font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
			font-size: 12px;
			line-height: 16px;
			font-weight: 400;
		}

		.box {
			border: 1px solid #e6e9ec;
			padding-top: 8px;
			padding-bottom: 8px;
			width: 518px;
			box-sizing: border-box;
			margin-top: -4px;
			line-height: inherit;
		}
	}
}

#learn_more {
	height: auto;

	p {
		font-size: 11pt;
		vertical-align: middle;
		color: #888;
		margin-top: 3px;
	}
}

.side-box {
	padding-top: 10px;but

	span {
		display: none;
	}

	.fa-check,
	.fa-warning,
	.fa-exclamation,
	.fa-pencil {
		color: green;
		font-size: 18pt;
		opacity: 0.5;
		border-radius: 18px;
		width: 36px;
		height: 36px;
		text-align: center;
		line-height: 36px;
		float: left;
	}

	.fa-warning {
		color: orange;
		font-size: 18pt;
	}

	.fa-exclamation {
		color: red;
	}

	.fa-pencil {
		color: green;
	}

	.desc {
		line-height: 1.2;
		display: inline-block;
		float: left;
	}

	.button {
		margin-top: 15px;
	}

	.social_preview_open {
		float: left;
	}	

	span {
		clear: both;
		margin-bottom: 5px;
	}
}

.guten.side-box {
	padding: 10px;

	span.good,
	span.warning,
	span.bad,
	span.waiting {
		display: none;
	}

	span {
		font-size: 13px;
		line-height: 1.0;
	}

	.desc {
		line-height: 1.0;
	}

	.learn_more_open {
		float: right;
	}

	.clearer {
		display: block;
		clear: both;
	}

	.button {

	}
}

.gutenberg #elevate_seo_side {
	display: none;
}

.gutenberg #elevate_seo {
	h2.hndle  {
		font-family: sans-serif!important;
		font-weight: 600;
		text-align: left;
		color: #191e23!important;	
	}
}

/* Editing categories and tags */

#edittag {
	.elevate-title-meta {
		label {
			font-weight: 600;
			color: #23282d;
			font-size: 14px;
		}
	}
}
